.box-base, .container .box {
  width: 120px;
  height: 120px;
}

.container {
  display: flex;
  gap: 10px;
}

.container .box {
  padding: 10px;
  border: 2px solid black;
  text-align: center;
  background-color: steelblue;
  color: white;
}
